* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 230, 230);
}

.content {
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem;
    background-color: rgb(231, 230, 230);
}

.content h1 {
    margin: 0;
    text-align: center;
    padding: 10px;
    text-shadow: -6px 0px 3px rgba(139, 139, 139, 0.493);
}

@media (max-width: 202px) {
    .content {
        height: auto;
        margin: 0;
    }
    
    .content .pokemons {
        display: grid;
        grid-template-columns: 1fr;
        width: 250%;
    }

    .content .pagination {
        align-items: center;
        width: 250%;
    }
}

@media (min-width: 203px) and (max-width: 394px) {
    .content {
        height: auto;
        margin: 0;
    }
    
    .content .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 250%;
    }

    .content .pagination {
        align-items: center;
        width: 250%;
    }
}

@media (min-width: 395px) and (max-width: 587px) {
    .content {
        height: auto;
        margin: 0;
        width: 100%;
    }
    
    .content .pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}